@charset "utf-8";
ul{margin: 0; padding: 0;}
li{list-style: none;}
table{width: 100%}
a{color: inherit; text-decoration: none;}
*{
	font-family: "nanumgothic";
	color:#333;
}

body{
	background-color: black;
}

.h_bar_wrap{
	z-index: 10;
	width: 100%;
	height: 86px;
	box-shadow: 0 0px 10px black;
	background-color:rgba(48, 48, 48, 0.7);
}
.h_bar{
	margin: 0 auto;
	width: 1200px;	
}
.main_logo_wrap{
	display: inline-block;
	margin: 0 0 0 0px;
	width: 220px;
	height: 86px;
	position: relative;
	left: -100px;
}
.main_menu_wrap{
	float: right;
}
.main_menu_wrap ul{
	height: 86px;
}
.main_menu_wrap ul li{
	float: left;
	display: block;
	width: 100px;
	text-align: center;	
	font-size: 24px;
	padding: 20px;
	color: rgb(180, 180, 180);
}

.main_menu_wrap ul li:hover{
	
	background: #88baff;
	transition: linear all 0.40s;
}

.main_menu_wrap ul li a{
	padding: 20px;
}

.main_img_wrap{
	margin-left: 40px;
	margin-top: 10px;
	z-index: 1;	
}

.main_img_wrap img{
	
	
	width: 1800px;
	height: 800px;
}

.main_img img{
	display: block;
	
}

footer div{
	width: 1500px;
}

footer div p{
	margin-left: 20%;
	text-align: left;
	color: rgb(155, 155, 155);
}

footer div ul li{
	display: inline-block;
	width: 100px;
	padding: 75px;
}


@keyframes opac
{
	from{opacity:0} to{opacity:1}
}

.btn_left_wrap{
	z-index: 2;
	top: 50%;
	left: 1%;
	position: absolute;
}

.btn_right_wrap{
	z-index: 2;
	top: 50%;
	left: 95%;
	position: absolute;
}

.btn_left_wrap li
{
	font-size: 30px;
	color: white;
	padding:10px;
	background-color: #333;
}

.btn_right_wrap li
{
	color: white;
	font-size: 30px;
	padding: 10px;
	background-color: #333;
}

.btn_left_wrap li a
{
	padding: 20px;
}

.btn_right_wrap li a
{
	padding: 20px;
}

.btn_left_wrap li:hover{
	
	background: #6d8ab3;
	transition: linear all 0.40s;
}

.btn_right_wrap li:hover{
	
	background: #6e8ab1;
	transition: linear all 0.40s;
}


/*
	텍스트 줄임
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
*/

/*
	하위태그 가로,세로 모두 가운데 정렬
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
*/

/*
	백그라운드 사이즈 고정
	background-image: url('경로');
	background-position: 50% 0%;
	background-attachment: fixed;
	background-size: cover;
*/